<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Title</title>
</head>
<body>
    <div class="sky">
        {% if prediction == 1 %}
        <div class="title">

            <section class="container">
                <h1>
                    <span class="title-2">Y O U R</span>
                    <span class="title-2">Review is</span>
                    <span class="title-2">POSITIVE</span>
                    <span class="title-2">😃</span>
                </h1>
            </section>
        </div>
        <div>
            <a href="/" style="position: relative; top: 35px;padding: 8px 15px; border-radius: 20px; text-decoration: none; background-color:#EB984E ; color: #ffffff;">Retry</a>
        </div>
        <div class="emoji poo1" style="font-size: 35px;">😃</div>
        <div class="emoji poo2">😃</div>
        <div class="emoji poo5" style="font-size: 45px;">😃</div>
        <div class="emoji poo5" style="font-size: 25px;">😃</div>
        <div class="emoji poo1" style="font-size: 35px;">😃</div>
        <div class="emoji poo3" style="font-size: 15px;">😃</div>
        <div class="emoji poo4">😃</div>
        <div class="emoji poo5" style="font-size: 45px;">😃</div>
        <div class="emoji poo5" style="font-size: 25px;">😃</div>
        <div class="emoji poo1" style="font-size: 35px;">😃</div>
        <div class="emoji poo3" style="font-size: 15px;">😃</div>
        <div class="emoji poo4">😃</div>
        <div class="emoji poo5" style="font-size: 45px;">😃</div>
        <div class="emoji poo5" style="font-size: 25px;">😃</div>
        {% else %}

            <div class="title">
                <section class="container">
                    <h1>
                        <span class="title-2">Y O U R</span>
                        <span class="title-2">Review is</span>
                        <span class="title-2">NEGATIVE</span>
                        <span class="title-2" style="font-size:45px;">😠</span>
                    </h1>
                </section>
            </div>
            <div>
                <a href="/" style="position: relative; top: 35px;padding: 8px 15px; border-radius: 20px; text-decoration: none; background-color:#EB984E ; color: #ffffff;">Retry</a>
            </div>
            <div class="emoji poo1" style="font-size: 35px;">😠</div>
            <div class="emoji poo2">😠</div>
            <div class="emoji poo5" style="font-size: 45px;">😠</div>
            <div class="emoji poo5" style="font-size: 25px;">😠</div>
            <div class="emoji poo1" style="font-size: 35px;">😠</div>
            <div class="emoji poo3" style="font-size: 15px;">😠</div>
            <div class="emoji poo4">😠</div>
            <div class="emoji poo5" style="font-size: 45px;">😠</div>
            <div class="emoji poo5" style="font-size: 25px;">😠</div>
            <div class="emoji poo5" style="font-size: 25px;">😠</div>
            <div class="emoji poo1" style="font-size: 35px;">😠</div>
            <div class="emoji poo3" style="font-size: 15px;">😠</div>
            <div class="emoji poo4">😠</div>
            <div class="emoji poo5" style="font-size: 45px;">😠</div>
            <div class="emoji poo5" style="font-size: 25px;">😠</div>
        {% endif %}
    </div>

    <script src="../static/js/app.js"></script>
</body>
</html>